@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

body {
  background-color: rgb(223, 223, 223);
}

body.dark-theme {
  background-color: #1a1a1a;
  color: #f5f5f5;
}

#boardgame-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#buttons-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  width: 100vw;
  margin-bottom: 2rem;
  gap: 0.1rem;
}

#dark-light-theme, #rules {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100%;
  border-radius: 12px;
  border: 3px solid rgb(34, 25, 160);
  background-color: #007bc7;
  cursor: pointer;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#rules img {
  height: 3rem;
  width: auto;
}

#rolldice {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100%;
  border-radius: 12px;
  border: 3px solid rgb(34, 25, 160);
  background-color: #007bc7;
  color: aliceblue;
  font-size: 2rem;
  font-weight: 300;
  cursor: pointer;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

#rolldice:active {
  background-color: rgb(149, 186, 255);
}

#dark-light-theme:active {
  background-color: rgb(149, 186, 255);
}

#rules:active {
  background-color: rgb(149, 186, 255);
}

#dice-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#dice-container img {
  height: 10rem;
  width: 10rem;
}

#task-name {
  margin-top: 2rem;
  font-size: 2.5rem;
  font-weight: 600;
}

#task-description {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

/* RULES */
#back-to-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100%;
  border-radius: 12px;
  border: 3px solid rgb(34, 25, 160);
  background-color: #007bc7;
  color: aliceblue;
  font-size: 2rem;
  font-weight: 300;
  cursor: pointer;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  position: sticky;
  top: 0;
  z-index: 1;
}

#back-to-main:active {
  background-color: rgb(149, 186, 255);
}

#rules-content {
  margin: 1rem;
}

#rules-content img {
  height: 6rem;
  width: auto;
  margin-top: 1rem;
}

#rules-content p {
  font-size: 1.3rem;
  font-weight: 400;
  margin-left: 0.3rem;
}

#rules-content h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 0.3rem;
  margin-top: 0.3rem;
  text-decoration: underline;
}

/* EIGHTWORDS */

.wordContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100%;
  font-size: 4rem;
  font-weight: 300;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: bold;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.ewBtnContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100vw;
}

.ewBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vh;
  width: 48%;
  border-radius: 12px;
  border: 3px solid rgb(34, 25, 160);
  background-color: #007bc7;
  color: aliceblue;
  font-size: 2.5rem;
  font-weight: 300;
  cursor: pointer;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: bold;
}

/* STOPWATCH */

.swDigits {
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.swBtn {
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 12px;
  cursor: pointer;
  margin: 0.1rem;
}
